In [100]:
import numpy as np
from scipy import stats
from scipy.stats import poisson
import matplotlib.pyplot as plt

#### 1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

##### What is the probability that no cars drive up in the noon hour?

In [101]:
no_cars = poisson.pmf(0,2)
no_cars

0.1353352832366127

##### What is the probability that 3 or more cars come through the drive through?

In [102]:
three_cars = poisson.sf(2,2)
three_cars

0.32332358381693654

How likely is it that the drive through gets at least 1 car?

In [103]:
three_cars = poisson.sf(0,2)
three_cars

0.8646647167633873

#### 2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:


What grade point average is required to be in the top 5% of the graduating class?

In [104]:
uni_grades = stats.norm(3.0,0.3)

In [105]:
top_five = uni_grades.isf(0.05)
top_five

3.4934560880854417

What GPA constitutes the bottom 15% of the class?

In [106]:
bottom_five = uni_grades.ppf(0.15)
bottom_five

2.689069983151863

In [107]:
bottom_five = uni_grades.isf(0.85)
bottom_five

2.689069983151863

An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile. Would a student with a 2.8 grade point average qualify for this scholarship?

        Yes

In [108]:
twenty_decile = uni_grades.ppf(.2)

In [109]:
thirty_decile = uni_grades.ppf(.3)

In [110]:
print(twenty_decile)
print(thirty_decile)

2.7475136299281258
2.842679846187588

In [111]:
student_gpa = 2.8

In [112]:
twenty_decile <= student_gpa <= thirty_decile

True

If I have a GPA of 3.5, what percentile am I in?

In [113]:
uni_grades.cdf(3.5)

0.9522096477271853

A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [114]:
click_rate = stats.binom(4326, .02)

In [115]:
click_rate

In [116]:
#exclusive
click_rate.sf(96)

0.13975823631416445

4 You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

What is the probability that at least one of your first 60 answers is correct?

In [117]:
correct = stats.binom(60,.01)

In [118]:
correct.sf(0)

0.45284335760923855

The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area.

How likely is it that the break area gets cleaned up each day?

In [119]:
# 66 total but only 90% visit the break room

cleaned_daily = stats.binom(60,.03)
cleaned_daily

In [120]:
cleaned_daily.pmf(1)

0.29840412808127686

How likely is it that it goes two days without getting cleaned up?

In [121]:
1 - cleaned_daily.pmf(2)

0.7277446872660513

All week?

In [122]:
1 - cleaned_daily.pmf(7)

0.9983189882453958

You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [123]:
line = stats.norm(15,3)

In [124]:
#you only have 35 mins to stand in line before ordering to get food in time to have 15 mins to eat
#that means you can only have 17 people ahead of you in order to have 15 mins to eat

In [125]:
line.cdf(17)

0.7475074624530771

Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

In [126]:
import pandas as pd
from pydataset import data
from env import get_connection
from sqlalchemy import text, create_engine

In [127]:
url  =get_connection('employees')

In [128]:
engine = create_engine(url)

In [129]:
query = '''
            SELECT *  

            FROM employees  

            LEFT JOIN salaries ON salaries.emp_no = employees.emp_no'''

In [130]:
text_query = text(query)

In [131]:
df = pd.read_sql(text_query, engine.connect())
df.head()

,emp_no,birth_date,first_name,last_name,gender,hire_date,emp_no,salary,from_date,to_date
0,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,60117,1986-06-26,1987-06-26
1,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,62102,1987-06-26,1988-06-25
2,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66074,1988-06-25,1989-06-25
3,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66596,1989-06-25,1990-06-25
4,10001,1953-09-02,Georgi,Facello,M,1986-06-26,10001,66961,1990-06-25,1991-06-25